<div class="header-wrapper" [ngClass]="{ 'menu-is-open': isMenuOpen }">
  <mat-toolbar class="mat-toolbar" [ngClass]="{ hidden: isNavbarHidden, expanded: isMenuOpen }">
    <div class="title">
      <a draggable="false" [routerLink]="authenticated ? '/browse' : '/'"
        ><img src="dog256.png" alt="Dog Icon" draggable="false" /> Furever Home</a
      >
    </div>

    <!-- Desktop buttons -->
    <div class="desktop-login-btn" *ngIf="authenticated && showButtons">
      <button *ngIf="isAdmin" mat-mini-fab routerLink="/admin">Admin</button>
      <button mat-mini-fab routerLink="/browse">Browse</button>
      <button *ngIf="isSeller" mat-mini-fab routerLink="/seller">
        My Pets
      </button>
      <button *ngIf="authenticated" mat-mini-fab routerLink="/profile">
        Profile
      </button>
      <button mat-mini-fab (click)="logout()">Logout</button>
    </div>
    <div class="desktop-login-btn" *ngIf="!authenticated && showButtons">
      <button mat-mini-fab routerLink="/login" [disabled]="disableLogin">
        Login
      </button>
    </div>

    <!-- Mobile hamburger -->
    <button
      class="hamburger-btn"
      mat-icon-button
      (click)="toggleMenu()"
      *ngIf="showHamburger"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Replace menu-overlay with mobile menu content directly in toolbar -->
    <div class="mobile-menu-content" [ngClass]="{ open: isMenuOpen }">
      <div class="mobile-login-btn" *ngIf="authenticated && showButtons">
        <button
          *ngIf="isAdmin"
          mat-mini-fab
          routerLink="/admin"
          (click)="onMenuItemClick()"
        >
          Admin
        </button>
        <button mat-mini-fab routerLink="/browse" (click)="onMenuItemClick()">
          Browse
        </button>
        <button
          *ngIf="isSeller"
          mat-mini-fab
          routerLink="/seller"
          (click)="onMenuItemClick()"
        >
          My Pets
        </button>
        <button *ngIf="authenticated" mat-mini-fab routerLink="/profile">
          Profile
        </button>
        <button mat-mini-fab (click)="logout(); onMenuItemClick()">
          Logout
        </button>
      </div>
      <div class="mobile-login-btn" *ngIf="!authenticated && showButtons">
        <button
          mat-mini-fab
          routerLink="/login"
          [disabled]="disableLogin"
          (click)="onMenuItemClick()"
        >
          Login
        </button>
      </div>
    </div>
  </mat-toolbar>
</div>
