div {
	display: inline-block;
}

// Common button styles
@mixin button-styles {
	width: auto;
	padding: 15px;
	font-size: 16px;
	box-shadow: none;
	background-color: #4ca68b;
	color: white;
	border-radius: 30px !important;

	&:hover {
		background-color: #3f8a73;
		border: 1px solid white;
	}
}

// Navbar styles
.mat-toolbar {
	background-color: #5cc8a8;
	position: fixed;
	top: 0;
	width: 100%;
	height: 75px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	transition: top 0.3s ease-in-out;
	z-index: 1001;

	&.hidden {
		top: -75px;
	}
}

// Title styles
.title {
	display: flex;
	align-items: center;
	z-index: 1002;

	a {
		text-decoration: none;
		color: white;
		display: flex;
		align-items: center;

		img {
			height: 32px;
			margin: -3px 8px 0 0;
		}
	}
}

// Button containers
.login-btn, .desktop-login-btn {
	position: absolute;
	right: 10px;

	button {
		@include button-styles;
	}
}

// Hamburger menu
.hamburger-btn {
	display: none;
	width: auto;
	font-size: 16px;
	box-shadow: none;
	background-color: #4ca68b;
	color: white;
	border-radius: 30px !important;

	&:hover {
		background-color: #3f8a73;
	}
	z-index: 1002;

	@media (max-width: 768px) {
		display: block;
		position: absolute;
		right: 10px;
		color: white;
	}
}

// Mobile menu
.menu-overlay {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #5cc8a8;
	transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
	z-index: 999;
	padding: 0;
	box-sizing: border-box;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	overflow: hidden;

	@media (min-width: 769px) {
		display: none;
	}

	&.open {
		height: 210px;
		padding: 20px;
	}
}

// Menu content
.menu-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-top: 30px;

	.login-btn {
		position: relative;
		right: auto;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

// Responsive styles
@media (max-width: 768px) {
	.login-btn, .desktop-login-btn {
		display: none;
	}

	.mobile-login-btn {
		display: flex;
		flex-direction: column;
		gap: 10px;

		button {
			@include button-styles;
		}
	}
}