div{
	display:inline-block;
	
}
.mat-toolbar {
	background-color: #5cc8a8;
}
.title a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.login-btn{
	position:absolute;
	right: 10px;
}
.login-btn button {
	width: auto;
	padding: 15px;
	font-size: 16px;
	box-shadow: none;
	background-color: #4ca68b;
	color: white;
	transition: 0.3s ease;
	border-radius: 30px !important;
}
.login-btn button:hover {
	background-color: #3f8a73;
	border: 1px solid white;
}