<div [ngClass]="{ hidden: !loading }" class="loading-container">
  <img src="/assets/loading.gif" alt="Loading..." class="loading-gif" />
</div>

<div
  [ngClass]="{ visible: !loading }"
  class="seller-container main-content"
  *ngIf="seller"
>
  <img
    *ngIf="seller.sellerPhoto"
    [src]="seller.sellerPhoto"
    alt="Seller Photo"
    class="seller-photo"
  />
  <h1 class="seller-org-name">{{ seller.orgName }}</h1>
  <p class="seller-info">Type: {{ seller.sellerType | titlecase }}</p>
  <p class="seller-info">Location: {{ seller.sellerLocation }}</p>
  <p *ngIf="rootSellerRoute == 'seller'" class="seller-info">
    Contact: {{ seller.sellerContact }}
  </p>
  <hr class="divider" *ngIf="requests && requests.data && requests.data.length > 0" />
  <h3 class="requests-title" *ngIf="requests && requests.data && requests.data.length > 0">Incoming Requests</h3>
  <div class="pet-table-container" *ngIf="requests && requests.data && requests.data.length > 0">
    <!-- <div class="search-container">
      <mat-form-field appearance="fill" class="search-bar">
        <mat-label>Search Requests</mat-label>
        <input
          matInput
          (input)="applyFilterUsers($event)"
          placeholder="Type to search"
        />
      </mat-form-field>
    </div> -->
    <div class="table-wrapper">
      <mat-table [dataSource]="requests" class="mat-elevation-z8" matSort>
        <!-- PetID Column -->
        <ng-container matColumnDef="petId">
          <mat-header-cell *matHeaderCellDef>
            Pet
          </mat-header-cell>
          <mat-cell *matCellDef="let request">
            {{ petInfo[request.petId] || 'Loading...' }}
          </mat-cell>
        </ng-container>
        
        <!-- UserID Column -->
        <ng-container matColumnDef="userId">
          <mat-header-cell *matHeaderCellDef> Buyer </mat-header-cell>
          <mat-cell *matCellDef="let request">
            {{ userInfo[request.userId] || 'Loading...' }}
          </mat-cell>
        </ng-container>

        <!-- Timestamp Column -->
        <ng-container matColumnDef="timestamp">
          <mat-header-cell *matHeaderCellDef>
            Date
          </mat-header-cell>
          <mat-cell *matCellDef="let request">
            {{ request.timestamp | date }}
          </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let request" class="actions-cell">
            <div class="button-group">
              <button
                mat-button
                color="primary"
              >
                Reply
              </button>
              <button
                mat-button
                color="accent"
              >
                Accept
              </button>
              <button
                mat-button
                color="warn"
              >
                Deny
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Header and Row Definitions -->
        <mat-header-row *matHeaderRowDef="requestsColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: requestsColumns"></mat-row>
      </mat-table>
    </div>

    <div *ngIf="!requests || !requests.data || requests.data.length === 0">
      <p>You have no requests.</p>
    </div>
  </div>

  <hr class="divider" />

  <button routerLink="/pet/new" class="add-item-button">
    <img src="/assets/plus-icon.svg" alt="Add Item" />
    <span>Add a Pet</span>
  </button>

  <hr class="divider" />

  <!-- Pet Cards Grid -->
  <div class="cards" [ngClass]="{ visible: loading }">
    <ng-container *ngIf="!loading">
      <div class="pet-card-container" [ngClass]="{ 'grid-view': isGridView }">
        <ng-container *ngFor="let item of pets">
          <div
            mat-card
            class="pet-card"
            (click)="navigateToPetDesktop($event, item._id)"
            [ngClass]="{
              expanded: expandedCards[item.name],
              unavailable: getItemStatus(item) === 'unavailable'
            }"
          >
            <!-- Pet Card Content -->
            <div
              class="pet-image-background"
              [style.background-image]="'url(' + item.pictures[0] + ')'"
            >
              <!-- Action buttons -->
              <button
                class="petcard-action-button"
                id="edit-button"
                (click)="editItem($event, item._id)"
              >
                <img
                  class="action-icon"
                  src="/assets/icons/action-icons/edit-pencil.svg"
                  alt="Edit Pet"
                />
              </button>
              <button
                class="petcard-action-button"
                id="delete-button"
                (click)="confirmDelete($event, item._id)"
              >
                <img
                  class="action-icon"
                  src="/assets/icons/action-icons/delete-trash.svg"
                  alt="Delete Pet"
                />
              </button>
              <button
                class="petcard-action-button"
                id="check-button"
                (click)="
                  confirmAdopted(
                    $event,
                    item._id,
                    getItemStatus(item) === 'unavailable'
                  )
                "
              >
                <img
                  class="action-icon"
                  src="/assets/icons/action-icons/check.svg"
                  alt="Mark Pet as Adopted"
                />
              </button>

              <!-- Pet Info Card -->
              <div class="pet-info-card">
                <!-- Displayed Info -->
                <div class="displayed-info">
                  <div class="info-text">
                    <h2 class="pet-name">{{ item.name }}</h2>
                    <p class="pet-age">
                      {{ item.sex | titlecase }},
                      {{ formatAge(getAge(item.birthdate)) }} old
                    </p>
                  </div>
                  <div class="button-group">
                    <button
                      class="pet-page-button"
                      (click)="navigateToPetMobile(item._id)"
                    >
                      Pet Page
                    </button>
                    <button
                      class="show-hidden-button"
                      (click)="toggleCard(item.name)"
                    >
                      {{ expandedCards[item.name] ? "Hide Info" : "Show Info" }}
                      <img
                        class="expand arrow"
                        [ngClass]="{ rotated: expandedCards[item.name] }"
                        src="/assets/icons/action-icons/drop-down-arrow.svg"
                        alt="expand-arrow"
                      />
                    </button>
                  </div>
                </div>

                <!-- Hidden Info -->
                <div class="hidden-info-container">
                  <div class="hidden-info">
                    <div class="info-group">
                      <p class="pet-status-tag">Status:</p>
                      <p class="pet-status">{{ item.status }}</p>
                    </div>
                    <div class="info-group">
                      <p class="pet-breed-tag">Breed:</p>
                      <p class="pet-breed">{{ item.breed }}</p>
                    </div>
                    <div class="info-group">
                      <p class="pet-price-tag">Price:</p>
                      <p class="pet-price">
                        {{ item.price | currency : "USD" : "symbol" : "1.0-0" }}
                      </p>
                    </div>
                    <div class="info-group">
                      <p class="pet-location-tag">Location:</p>
                      <p class="pet-location">{{ item.location }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
