// Loading screen container
::ng-deep .mat-mdc-card.mdc-card.content-card.mat-elevation-z4 {
    background-color: transparent;
    box-shadow: none;
    top: 50px;
}

// Loading screen container
.loading-container {

}