<div class="landing-container">
    <div class="content">
        <div class="title-section">
            <img src="dog256.png" alt="Dog Icon" draggable="false"/>
            <h1>Furever Home</h1>
        </div>
        <p>
            Find your perfect companion and give them a forever home! 
            Our platform connects you with pets from loving breeders 
            and shelters, making it easy to discover the unique personalities 
            and stories behind each animal. Explore, connect, 
            and make memories with a furry friend who's waiting just for you.
        </p>
        <button>Explore Tours</button>
    </div>
</div>
