#page{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:flex;
	flex-direction: column;
}
.content{
	padding:10px 20px;
	flex:1;
	display: inline-block;
	position:relative;
}
.content-card{
	height:100%;
	padding:5px;
	overflow: hidden;
}