#page{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:flex;
	flex-direction: column;
}
app-header {
	z-index: 999 !important;
}
.content{
	z-index: 1;
	padding:10px;
	@media (min-width: 768px) {
		padding: 10px 20px;
	}
	flex:1;
	display: inline-block;
	position:relative;
	font-family: "Outfit", sans-serif;
}
.content-card{
	height: calc(100% - 75px);
	padding:5px;
	overflow: hidden;
}