<div [ngClass]="{ hidden: !loading }" class="loading-container">
  <img src="/assets/loading.gif" alt="Loading..." class="loading-gif" />
 </div>
 
 <div [ngClass]="{ visible: !loading }" class="main-content">
  
    <div id="header">
      <div>Your Profile</div>
    </div>
    <!--<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">-->
    <!-- Profile Picture Section -->
    <div id="picField">
      <div id="picCircle">
        <img id="profilePic" [src]="profile?.profilePic"  />
      </div>
      <button class="changeButtonImg" (click)="openImageUploadDialog()">Change Profile Picture</button>
      <!--<input type="file" accept="image/*" id="picButton" (change)="onFileSelect($event)"/>-->
    </div>
    <!--</form>-->
    <div class="profile-section-divider"></div>
 
    <!-- Name Section -->
    <div id="nameField">
      <strong class="lableTitle">Name: </strong>
      <div class="profile-field-value">{{ profile?.firstName + " " + profile?.lastName }}</div>
      <button class="changeButton"  color="white"
        (click)="changeField('firstName', 'lastName')">Change</button>
    </div>
 
    <div id="locationField">
      <strong class="lableTitle">Location: </strong>
      <div class="profile-field-value">{{ profile?.location }}</div>
      <button class="changeButton" color="primary" (click)="changeField('location')">Change</button>
    </div>

    <!--<div class="profile-section-divider"></div>-->
 
    <!-- Username Section -->
 
    <div id="usernameField">
      <strong class="lableTitle">Username: </strong>
      <div class="profile-field-value">{{ profile?.username }}</div>
      <!-- <button class="changeButton" mat-button color="primary" (click)="changeField('username')">Change</button> -->
    </div>
 
 
    <!-- Password Section -->
    <div id="passwordField">
      <strong class="lableTitle">Password: </strong>
      <div class="profile-field-value">*****</div>
      <!-- <button class="changeButton" mat-button color="primary" (click)="changeField('password')">Change</button> -->
    </div>
 
 
    <!-- <div class="profile-section-divider"></div>-->
 
 
    <!-- Roles Section -->
    <div id="rolesField">
      <strong class="lableTitle">Roles: </strong>
      <div class="profile-field-value roles-chips">
        <div id="mat-chip-list">
          <mat-chip class="roleBoxes" *ngFor="let role of profile.roles" color="primary" selected>{{ role }}</mat-chip>
        </div>
      </div>
      <!-- <button class="changeButton" mat-button color="primary" (click)="changeField('roles')">Change</button> -->
    </div>
 </div>
