.item{
    width:auto;
    height:auto;
    padding:10px;
    position:relative;
    display:flex;
    flex-direction: row;
}
.pet-image {
    height: 300px;
}
.left{
    flex:1;
    margin-right:5px;
}
.bold{
    font-weight:bold;
    font-size:1.1em;
}
hr{
    margin:4px 5px 3px 0;
}