/* ===================================
   General Styles
=================================== */

.loading-container {
  position: fixed; /* Overlay the entire screen */
  top: 75px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: Semi-transparent background */
  z-index: 9999; /* Ensure it appears above everything else */
  opacity: 1;
  background-color: white;
  transition: opacity 0.1s ease-out;
}

.loading-container.hidden {
  opacity: 0;
  pointer-events: none; /* Prevent interactions with hidden loading screen */
}

.loading-gif {
  margin-top: -75px;
  width: 250px;
  height: auto;
}

.pet-container {
  opacity: 0;
  padding: 2vw;
  transition: opacity 0.3s ease-in;
}

.pet-container.visible {
  opacity: 1;
}

::ng-deep .mat-mdc-card {
  margin-top: 75px;
  background-color: #e6e6e6;
  border-radius: 20px;
}

.pet-page-title{
  margin-top: 0px;
}

/* ===================================
   Carousel Styles
=================================== */

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 100%;
  background-color: #f0f0f0;
}

.carousel-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

@media (min-width: 768px) {
  .carousel-image {
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .carousel-image {
    height: 750px;
  }
}

@media (min-width: 1440px) {
  .carousel-image {
    height: 800px;
    object-fit: contain;
  }
}

.carousel-control {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  z-index: 1;
  transition: background 0.3s ease;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.7);
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

/* ===================================
   Thumbnail Styles
=================================== */

.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: border 0.3s ease;
}

.thumbnail-image.active {
  border-color: #5cc8a8;
}

.thumbnail-image:hover {
  border-color: #3f8a73;
}

/* ===================================
   Modal Styles
=================================== */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal-content {
  position: relative;
  max-width: 85vw;
  max-height: 85vh;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image {
  max-width: 85vw;
  max-height: 85vh;
  object-fit: contain;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  z-index: 1001;
}

.modal-control {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  z-index: 1001;
  transition: background 0.3s ease;
}

.modal-control:hover {
  background: rgba(0, 0, 0, 0.7);
}

.modal-control.prev {
  left: 10px;
}

.modal-control.next {
  right: 10px;
}

/* ===================================
   Expand Button Styles
=================================== */

.expand-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  padding: 8px;
  transition: background 0.3s ease;
  cursor: pointer;
}

.expand-button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.magnifying-glass-icon {
  width: 24px;
  height: 24px;
  display: block;
}

/* ===================================
   Pet Information (Below Images)
=================================== */
/* Container for pet details and benefits */
.pet-details {
  display: flex;
  flex-direction: column; /* Stack elements by default */
  gap: 2vw; /* Add space between items */
}

.pet-info {
  background-color: #dadada;
  padding: 2vw;
  border-radius: 20px;
  margin-top: 2vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.pet-attribute {
  display: flex;
  align-items: center; 
  gap: 1rem; 
  margin-bottom: 10px; 
  background-color: #d1d1d1;
  padding: 5px;
  border-radius: 15px;
  pointer-events: none;
  user-select: none;
}

.pet-attribute img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 5px; 
  margin-left: 5px;
  pointer-events: none;
  user-select: none;
}

.pet-attribute p {
  margin: 0; 
  font-size: 1rem;
}

.pet-benefits{
  background-color: #dadada;
  padding: 2vw;
  border-radius: 20px;
  margin-top: 2vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.pet-page-header{
  margin-top: 0px;
}

.benefit-item {
  display: flex;
  align-items: center; 
  gap: 1rem; 
  margin-bottom: 10px; 
  background-color: #d1d1d1;
  padding: 5px;
  border-radius: 15px;
  pointer-events: none;
  user-select: none;
}

.benefit-item img {
  width: 23px;
  height: 23px;
  object-fit: contain;
  border-radius: 5px; 
  margin-left: 5px;
  pointer-events: none;
  user-select: none;
}

.request-contact {
  background: radial-gradient(ellipse 99% 99% at center, #4ca68b, #2f9d78, #1e8564);
  border-radius: 20px;
  margin-top: 2vh;
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  position: relative; /* Ensure the SVG can be absolutely positioned */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
}

.request-pawprint-left {
  position: absolute; /* Position the SVG independently of the button */
  top: 50%; /* Center vertically */
  left: 10px; /* Adjust horizontally (e.g., decorate the left edge) */
  transform: translateY(-50%); /* Center vertically within the div */
  width: 250px; /* Resize the paw print */
  height: auto; /* Maintain aspect ratio */
  filter: brightness(0) invert(1); /* Adjust for white color */
  opacity: 0.5; /* Slightly transparent for decoration */
  pointer-events: none; /* Make it unclickable */
}

.request-pawprint-right {
  position: absolute; /* Position the SVG independently of the button */
  top: 50%; /* Center vertically */
  right: -10px; /* Adjust horizontally (e.g., decorate the left edge) */
  transform: translateY(-50%) rotate(90deg);
  width: 250px; /* Resize the paw print */
  height: auto; /* Maintain aspect ratio */
  filter: brightness(0) invert(1); /* Adjust for white color */
  opacity: 0.5; /* Slightly transparent for decoration */
  pointer-events: none; /* Make it unclickable */
}


/* Medium screens (min-width: 768px) */
@media (max-width: 768px) {

  .request-contact {
    max-height: 70px;
  }
  
  .request-pawprint-left {
    width: 200px;
    left: -60px; /* Move farther left */
  }
  .request-pawprint-right {
    width: 200px;
    right: -40px; /* Move farther right */
  }
}

/* Large screens (min-width: 1024px) */
@media (min-width: 1024px) {

  .request-pawprint-left {
    width: 250px;
    left: -40px; /* Move farther left */
  }
  .request-pawprint-right {
    width: 250px;
    right: -40px; /* Move farther right */
  }

  .pet-details {
    flex-direction: row; /* Align elements side-by-side */
    align-items: flex-start; /* Align to the top */
  }

  .pet-info,
  .pet-benefits {
    flex: 1; /* Make both sections take up equal space */
    max-width: 50%; /* Ensure each section occupies 50% */
    min-height: 470px;
  }
}

/* Extra-large screens (min-width: 1440px) */
@media (min-width: 1440px) {
  .request-pawprint-left {
    width: 300px;
    left: -60px; /* Move even farther left */
  }
  .request-pawprint-right {
    width: 300px;
    right: -60px; /* Move even farther right */
  }
}


/* ===================================
   Button Styles
=================================== */

.button-container {
  margin: 20px 0;
}

.request-button {
  min-width: 150px;
  padding: 12px 24px;
  background-color: #4dbd9b;
  color: white;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 25px;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.request-button:hover:not([disabled]) {
  background-color: #3da88ad3;
  border: 1px solid white;
}

.request-button:disabled {
  background-color: #cccccc;
  color: #666666;
}