<div *ngIf="pet" class="pet-container">

  <!-- Image Carousel -->
  <div *ngIf="pet.pictures && pet.pictures.length" class="carousel">
    <button (click)="prevImage()" class="carousel-control prev">‹</button>
    <img [src]="pet.pictures[currentImageIndex]" alt="{{ pet.name }}" class="carousel-image" />
    <button (click)="nextImage()" class="carousel-control next">›</button>
    <button (click)="openModal()" class="expand-button">
      <img 
      class="magnifying-glass-icon" 
      src="/assets/magnifying-glass.svg" 
      alt="expand-arrow">
    </button>
  </div>

  <!-- Modal for expanded image view -->
  <div *ngIf="isModalOpen" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <button (click)="prevImage()" class="modal-control prev">‹</button>
      <img [src]="pet.pictures[currentImageIndex]" alt="{{ pet.name }}" class="modal-image" />
      <button (click)="nextImage()" class="modal-control next">›</button>
    </div>
  </div>

  <!-- Thumbnail Navigation -->
  <div *ngIf="pet.pictures && pet.pictures.length" class="thumbnail-container">
    <img *ngFor="let picture of pet.pictures; let i = index"
         [src]="picture"
         [class.active]="i === currentImageIndex"
         (click)="goToImage(i)"
         class="thumbnail-image"
         alt="{{ pet.name }} thumbnail" />
  </div>

  <div class="pet-info">
    <h1>{{ pet.name }}</h1>
    <p><strong>Status:</strong> {{ pet.status }}</p>
    <p><strong>Animal:</strong> {{ pet.animal }}</p>
    <p><strong>Breed:</strong> {{ pet.breed }}</p>
    <p><strong>Age:</strong> {{ formatAge(getAge(pet.birthdate)) }} old</p>
    <p><strong>Sex:</strong> {{ pet.sex | titlecase }}</p>
    <p><strong>Location:</strong> {{ pet.location }}</p>
    <p><strong>Price:</strong> {{ pet.price | currency }}</p>
    <p><strong>Description:</strong> {{ pet.description }}</p>
  </div>

  <div class="pet-benefits">
    <div *ngIf="pet.benefits && pet.benefits.length">
      <div><strong>Benefits:</strong></div>
      <div *ngFor="let benefit of pet.benefits">{{ benefit }}</div>
    </div>
  </div>

  <div class="request-contact">
    <div *ngIf="isBuyer" class="button-container">
      <button
        class="request-button" (click)="requestContact()">Request Contact</button>
      <img class="request-pawprint-left" src="/assets/paw-trail.svg" alt="paw print trail">
      <img class="request-pawprint-right" src="/assets/paw-trail.svg" alt="paw print trail">
    </div>
  </div>

</div>