<div class="info-box">
  <img class="paw-trail left" src="/assets/paw-trail.svg" alt="paw print trail" />
  <img class="paw-trail right" src="/assets/paw-trail.svg" alt="paw print trail" />
  <p *ngIf="data.alreadyRequested">Your contact information has already been shared with the seller!</p>
  <p *ngIf="!data.alreadyRequested">Success! Your contact information has been shared with the seller.</p>
</div>
<h1 mat-dialog-title id="title">Seller's Contact Information</h1>
<div mat-dialog-content>
  <table class="info-table">
    <tr>
      <td class="info-label">Organization:</td>
      <td class="info-value">{{ data.orgName || 'N/A' }}</td>
    </tr>
    <tr>
      <td class="info-label">Seller Type:</td>
      <td class="info-value">{{ data.sellerType | titlecase }}</td>
    </tr>
    <tr>
      <td class="info-label">Location:</td>
      <td class="info-value">{{ data.sellerLocation }}</td>
    </tr>
    <tr>
      <td class="info-label">Email:</td>
      <td class="info-value">
        <a href="mailto:{{ data.sellerContact }}">{{ data.sellerContact }}</a>
      </td>
    </tr>
  </table>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</div> 