<div class="home">
  <div class="pet-card-container">
    
    <div mat-card *ngFor="let item of items" class="pet-card">
      
      <div class="pet-image-background" [style.background-image]="'url(' + item.image + ')'">
        <div class="pet-info-card">
          <div class="displayed-info">
            <h2 class="pet-name">{{ item.name }}</h2>
            <p class="pet-age">Age: {{ item.age }}</p>
          </div>
          <div class="hidden-info">
              <p class="pet-status">Status: {{ item.status }}</p>
              <p class="pet-description">{{ item.description }}</p>
              <p class="pet-breed">Breed: {{ item.speciesBreed }}</p>
            </div>
        </div>
      </div>
      
    </div>

  </div>
</div>
