<div class="filters">
  <button class="button" (click)="toggleFavoriteFilter()">Favorites</button>
  <button class="button" (click)="clearFilters()">Clear Filters</button>

  <label>
    Animal:
    <select [(ngModel)]="filters.animal" (change)="loadData()">
      <option value="Any">Any</option>
      <option value="Dog">Dog</option>
      <option value="Cat">Cat</option>
      <!-- Add more options as needed -->
    </select>
  </label>

  <label>
    Sex:
    <select [(ngModel)]="filters.sex" (change)="loadData()">
      <option value="Any">Any</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </label>

  <label>
    Age:
    <select [(ngModel)]="filters.age" (change)="loadData()">
      <option value="Any">Any</option>
      <option value="Puppy/Kitten">Puppy/Kitten</option>
      <option value="Adult">Adult</option>
      <option value="Senior">Senior</option>
    </select>
  </label>

  <label>
    Price:
    <select [(ngModel)]="filters.price" (change)="loadData()">
      <option value="Any">Any</option>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
  </label>

  <label>
    Location:
    <select [(ngModel)]="filters.location" (change)="loadData()">
      <option value="Any">Any</option>
      <option value="Local">Local</option>
      <option value="National">National</option>
    </select>
  </label>
</div>

<div class="pet-card-container">
  <ng-container *ngFor="let item of items">
    <app-item
      [item]="item"
      [isBuyer]="isBuyer"
      [expandedCards]="expandedCards"
      (toggleFavorite)="toggleFavorite(item)"
      (navigateToPetDesktop)="navigateToPetDesktop(item._id)"
      (navigateToPetMobile)="navigateToPetMobile(item._id)"
      (toggleCard)="toggleCard(item.name)"
    ></app-item>
  </ng-container>
</div>
