<div class="home">
  <div class="filters">
    <!-- Animal Filter -->
    <button
      mat-mini-fab
      [matMenuTriggerFor]="animalMenu"
      class="button"
      id="filter-animal"
      [ngClass]="{ filtered: filters.animal !== 'Any' }"
    >
      Animal: {{ filters.animal }}
    </button>
    <mat-menu #animalMenu="matMenu">
      <button mat-menu-item (click)="setFilter('animal', 'Any')">Any</button>
      <button mat-menu-item (click)="setFilter('animal', 'Dog')">Dog</button>
      <button mat-menu-item (click)="setFilter('animal', 'Cat')">Cat</button>
      <button mat-menu-item (click)="setFilter('animal', 'Bird')">Bird</button>
      <button mat-menu-item (click)="setFilter('animal', 'Fish')">Fish</button>
      <button mat-menu-item (click)="setFilter('animal', 'Reptile')">Reptile</button>
      <button mat-menu-item (click)="setFilter('animal', 'Small Mammal')">Small Mammal</button>
      <button mat-menu-item (click)="setFilter('animal', 'Other')">
        Other
      </button>
    </mat-menu>

    <!-- Sex Filter -->
    <button
      mat-mini-fab
      [matMenuTriggerFor]="sexMenu"
      class="button"
      id="filter-sex"
      [ngClass]="{ filtered: filters.sex !== 'Any' }"
    >
      Sex: {{ filters.sex }}
    </button>
    <mat-menu #sexMenu="matMenu">
      <button mat-menu-item (click)="setFilter('sex', 'Any')">Any</button>
      <button mat-menu-item (click)="setFilter('sex', 'Male')">Male</button>
      <button mat-menu-item (click)="setFilter('sex', 'Female')">Female</button>
    </mat-menu>

    <!-- Age Filter -->
    <button
      mat-mini-fab
      [matMenuTriggerFor]="ageMenu"
      class="button"
      id="filter-age"
      [ngClass]="{ filtered: filters.age !== 'Any' }"
    >
      Age: {{ filters.age }}
    </button>
    <mat-menu #ageMenu="matMenu">
      <button mat-menu-item (click)="setFilter('age', 'Any')">Any</button>
      <button mat-menu-item (click)="setFilter('age', 'Very Young')">
        Very Young (&lt;1)
      </button>
      <button mat-menu-item (click)="setFilter('age', 'Young')">
        Young (1-2)
      </button>
      <button mat-menu-item (click)="setFilter('age', 'Adult')">
        Adult (3-8)
      </button>
      <button mat-menu-item (click)="setFilter('age', 'Senior')">
        Senior (8+)
      </button>
    </mat-menu>

    <!-- Price Filter -->
    <button
      mat-mini-fab
      [matMenuTriggerFor]="priceMenu"
      class="button"
      id="filter-price"
      [ngClass]="{ filtered: filters.price !== 'Any' }"
    >
      Price: {{ filters.price }}
    </button>
    <mat-menu #priceMenu="matMenu">
      <button mat-menu-item (click)="setFilter('price', 'Any')">Any</button>
      <button mat-menu-item (click)="setFilter('price', 'Low')">
        Low (&lt;$500)
      </button>
      <button mat-menu-item (click)="setFilter('price', 'Medium')">
        Medium ($500-$1000)
      </button>
      <button mat-menu-item (click)="setFilter('price', 'High')">
        High (&gt;$1000)
      </button>
    </mat-menu>

    <!-- Location Filter -->
    <button
      mat-mini-fab
      [matMenuTriggerFor]="locationMenu"
      class="button"
      id="filter-location"
      [ngClass]="{ filtered: filters.location !== 'Any' }"
    >
      Location: {{ filters.location }}
    </button>
    <mat-menu #locationMenu="matMenu">
      <button mat-menu-item (click)="setFilter('location', 'Any')">Any</button>
      <button mat-menu-item (click)="setFilter('location', 'New York')">
        New York
      </button>
      <button mat-menu-item (click)="setFilter('location', 'Los Angeles')">
        Los Angeles
      </button>
      <button mat-menu-item (click)="setFilter('location', 'Chicago')">
        Chicago
      </button>
      <button mat-menu-item (click)="setFilter('location', 'Houston')">
        Houston
      </button>
      <button mat-menu-item (click)="setFilter('location', 'Other')">
        Other
      </button>
    </mat-menu>
    <button mat-mini-fab class="button" (click)="toggleFavoriteFilter()">
      {{ favoriteFilter ? 'Show All Pets' : 'Show Favorites' }}
    </button>
  </div>

  <div class="result-count">
    Showing {{ itemCount }} {{ itemCount === 1 ? 'pet' : 'pets' }} 
  </div>

  <div class="cards">
    <div class="pet-card-container">
      <ng-container *ngFor="let item of items">
        <!-- Expanded *ngIf condition to include dynamic categories for age and price -->
        <div
            *ngIf="
            (filters.animal === 'Any' ||
              (filters.animal === 'Reptile' &&
                ['snake', 'lizard', 'tortoise', 'turtle', 'chameleon', 'gecko'].includes(item.animal.toLowerCase())) ||
              (filters.animal === 'Small Mammal' &&
                ['hamster', 'guinea pig', 'rabbit', 'chinchilla', 'mouse'].includes(item.animal.toLowerCase())) ||
              (filters.animal === 'Other' &&
                !['dog', 'cat', 'bird', 'fish', 'snake', 'lizard', 'tortoise', 'turtle', 'chameleon', 'gecko', 'hamster', 'guinea pig', 'rabbit', 'chinchilla', 'mouse'].includes(item.animal.toLowerCase())) ||
              item.animal.toLowerCase() === filters.animal.toLowerCase()) &&
            (filters.sex === 'Any' ||
              item.sex.toLowerCase() === filters.sex.toLowerCase()) &&
            (filters.age === 'Any' ||
              (filters.age === 'Very Young' && item.age < 1) ||
              (filters.age === 'Young' && item.age >= 1 && item.age <= 2) ||
              (filters.age === 'Adult' && item.age >= 3 && item.age <= 8) ||
              (filters.age === 'Senior' && item.age > 8)) &&
            (filters.price === 'Any' ||
              (filters.price === 'Low' && item.price < 500) ||
              (filters.price === 'Medium' &&
                item.price >= 500 &&
                item.price <= 1000) ||
              (filters.price === 'High' && item.price > 1000)) &&
            (filters.location === 'Any' ||
              (filters.location === 'Other' &&
                !['New York', 'Los Angeles', 'Chicago', 'Houston'].includes(item.location)) ||
              item.location === filters.location)
          "
          mat-card
          class="pet-card"
          (click)="navigateToPetDesktop($event, item._id)"
          [ngClass]="{ 'expanded': expandedCards[item.name] }"
        >
          <div
            class="pet-image-background"
            [style.background-image]="'url(' + item.pictures[0] + ')'"
          >

            <!-- Favorite Button -->
            <button *ngIf="isBuyer" class="petcard-favorite-button" (click)="toggleFavorite($event, item)">
              <img 
                class="favorite-icon" 
                [src]="item.isFavorite ? '/assets/favorite-star-active.svg' : '/assets/favorite-star-inactive.svg'" 
                alt="Favorite Icon" />
            </button>

            <div class="pet-info-card">
              <div class="displayed-info">
                <div class="info-text">
                  <h2 class="pet-name">{{ item.name }}</h2>
                  <p class="pet-age">
                    {{ item.sex[0].toUpperCase() + item.sex.slice(1) }},
                    {{ formatAge(item.age) }} old
                  </p>
                </div>
                <button class="show-hidden-button" (click)="toggleCard(item.name)">
                  {{ expandedCards[item.name] ? 'Hide Info' : 'Show Info' }}
                  <img 
                    class="expand arrow" 
                    [ngClass]="{'rotated': expandedCards[item.name]}" 
                    src="/assets/drop-down-arrow.svg" 
                    alt="expand-arrow" />
                </button>
              </div>
              <div class="hidden-info-container">
                <div class="hidden-info">
                  <div class="info-group">
                    <p class="pet-status-tag">Status:</p>
                    <p class="pet-status">{{ item.status }}</p>
                  </div>
                  <div class="info-group">
                    <p class="pet-breed-tag">Breed:</p>
                    <p class="pet-breed">{{ item.breed }}</p>
                  </div>
                  <div class="info-group">
                    <p class="pet-price-tag">Price:</p>
                    <p class="pet-price">
                      {{ item.price | currency : "USD" : "symbol" : "1.0-0" }}
                    </p>
                  </div>
                  <div class="info-group">
                    <p class="pet-location-tag">Location:</p>
                    <p class="pet-location">{{ item.location }}</p>
                  </div>
                  <button class="pet-page-button" (click)="navigateToPetMobile(item._id)">Pet Page</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
