.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 1vw;
    box-sizing: border-box;
}

.pet-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.pet-card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid #cccccc94;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 450px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pet-card:hover {
    transform: scale(1.02);
}

.pet-image-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pet-info-card {
    background: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.2) 80%, transparent);
    user-select: none;
    padding-bottom: 5px;
}

.displayed-info {
    color: white;
    transform: translateY(0%);
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hidden-info {
    color: #000000;
    opacity: 0;
    transform: translateY(100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.pet-card:hover .displayed-info {
    transform: translateY(-11vh);
    opacity: 1;
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    filter: drop-shadow(0px 0px 8px #000000);
}

.pet-card:hover .hidden-info {
    transform: translateY(0);
    opacity: 1;
    display: block;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    filter: drop-shadow(0px 0px 5px #00000060);
}

.pet-name {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.pet-age {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 3px;
    margin: 0;
}

.pet-status,
.pet-description,
.pet-breed {
    margin: 5px 0;
}

.filters {
    padding: 18px;
    width: 100%;
    margin: 0 auto;
}

.filters .button {
    width: auto;
    padding: 15px;
    font-size: 16px;
    margin-right: 10px;
    box-shadow: none;
    background-color: white;
    color: #3f8a73;
    transition: 0.3s ease;
    border-radius: 30px !important;
    border: 2px solid #3f8a73;
}

.filters .button:hover {
    cursor: pointer;
    background-color: #3f8a73;
    color: white;
}

.filters .button.filtered {
    background-color: #4ca68b;
    color: white;
}